.AVAX ,
.AVAX:focus{
  color: var(--bs-red);
  border-color: var(--bs-red);
}

.AVAX.active,
.AVAX:hover {
  color: white;
  background-color: var(--bs-red);
  border-color: var(--bs-red);
}

.ETH,
.ETH:focus {
  color: var(--bs-gray);
  border-color: var(--bs-gray);
}

.ETH.active,
.ETH:hover {
  color: white;
  background-color: var(--bs-gray);
  border-color: var(--bs-gray);
}

.FTM,
.FTM:focus {
  color: var(--bs-blue);
  border-color: var(--bs-blue);
}
.FTM.active,
.FTM:hover {
  color: white;
  background-color: var(--bs-blue);
  border-color: var(--bs-blue);
}

.MATIC,
.MATIC:focus {
  color: var(--bs-purple);
  border-color: var(--bs-purple);
}

.MATIC.active,
.MATIC:hover {
  color: white;
  background-color: var(--bs-purple);
  border-color: var(--bs-purple);
}

.ONE,
.ONE:focus {
  color: var(--bs-teal);
  border-color: var(--bs-teal);
}

.ONE.active,
.ONE:hover {
  color: white;
  background-color: var(--bs-teal);
  border-color: var(--bs-teal);
}

.ARB,
.ARB:focus {
  color: var(--bs-cyan);
  border-color: var(--bs-cyan);
}

.ARB.active,
.ARB:hover {
  color: white;
  background-color: var(--bs-cyan);
  border-color: var(--bs-cyan);
}

.BSC,
.BSC:focus {
  color: var(--bs-yellow);
  border-color: var(--bs-yellow);
}

.BSC.active,
.BSC:hover {
  color: white;
  background-color: var(--bs-yellow);
  border-color: var(--bs-yellow);
}
.MOVR,
.MOVR:focus {
  color: var(--bs-orange);
  border-color: var(--bs-orange);
}

.MOVR.active,
.MOVR:hover {
  color: white;
  background-color: var(--bs-orange);
  border-color: var(--bs-orange);
}

.CRO,
.CRO:focus {
  color: #052c65;
  border-color: #052c65;
}

.CRO.active,
.CRO:hover {
  color: white;
  background-color: #052c65;
  border-color: #052c65;
}

.KLAY,
.KLAY:focus {
  color: white;
  background-color: #3a4075;
  border-color: #3a4075;
}
.KLAY.active,
.KLAY:hover {
  color: white;
  background-color: #3a4075;
  border-color: #3a4075;
}